<ng-container *ngIf="IsLoggedIn">
   <app-edit-header></app-edit-header>
</ng-container>

<app-info [resultado]="resultado"></app-info>

<app-estudios [resultado]="resultado"></app-estudios>
<ng-container *ngIf="IsLoggedIn">
<app-edit-estudios></app-edit-estudios>
</ng-container>

<app-experiencia-laboral [resultado]="resultado"></app-experiencia-laboral>
<ng-container *ngIf="IsLoggedIn">
   <app-edit-experiencia-laboral></app-edit-experiencia-laboral>
</ng-container>

<app-tecnologias-skills [resultado]="resultado"></app-tecnologias-skills>
<ng-container *ngIf="IsLoggedIn">
   <app-edit-tecnologias-skills></app-edit-tecnologias-skills>
</ng-container>

<app-proyectos [resultado]="resultado"></app-proyectos>
<ng-container *ngIf="IsLoggedIn">
   <app-edit-proyectos></app-edit-proyectos>
</ng-container>



<app-contacto></app-contacto>

