
    <div id="informacion_general" class="container">
      <div class="container ">
        <span class="fondo">{{resultado.informacion_titulo}}</span>
        <p id="saludo"  class="lh-1 mt-4 ">
          {{resultado.saludo_titulo}}
        </p>
        <p id="descripcion" class="lh-1 mt-4">
          {{resultado.saludo_descripcion}}
        </p>


      </div>
      <div class="sas_img">
        <img id="sas_img" [src]="resultado.foto_perfil" class="sas_img" alt="Sebastian_Santos" />
      </div>
    </div>
  