<div class="editable">
  <div class="extend">
    <span (click)="toogleEditar()"
      >Experiencia laboral__
      <i class="fa-solid fa-pen"></i>
    </span>
    <button
      class="btn"
      style="background-color: var(--light-green); color: white"
      (click)="nuevaExperiencia()"
    >
      Agregar Experiencia
    </button>

    <div class="container" *ngIf="editar" >

      <div *ngFor="let experienciaLaboral of resultado.experienciasLaborales" class="tecno">
        <app-editor-experiencia-laboral 
        [experienciaLaboral]="experienciaLaboral">
      </app-editor-experiencia-laboral>
      </div>

    </div>

    <ng-container *ngIf="crear">
      <form autocomplete="off" class="container" [formGroup]="newExperiencia">
        <div class="mb-3">
          <label for="empresa" class="form-label">Nombre de la empresa:</label>
          <input
            type="text"
            class="form-control"
            id="empresa"
            formControlName="empresa"
            value=""
          />
        </div>

        <div class="mb-3">
          <label for="puesto" class="form-label">Cargo obtenido:</label>
          <input
            type="text"
            class="form-control"
            id="puesto"
            formControlName="puesto"
            value=""
          />
        </div>

        <div class="mb-3">
          <label for="descripcions" class="form-label"
            >Descripcion referente al empleo:</label
          >
          <input
            type="text"
            class="form-control"
            id="descripcions"
            formControlName="descripcion"
            value=""
          />
        </div>

        <div class="mb-3">
          <label for="desde" class="form-label">Ingreso a la empresa:</label>
          <input
            type="date"
            class="form-control"
            id="desde"
            formControlName="desde"
            value=""
          />
        </div>
        <div class="mb-3">
          <label for="hasta" class="form-label">Egreso de la empresa:</label>
          <input
            type="date"
            class="form-control"
            id="hasta"
            formControlName="hasta"
            value=""
          />
        </div>

        <div class="footer-card">
          <button
            type="submit"
            class="btn"
            style="background-color: var(--light-green); color: white"
            (click)="crearExperiencia()"
            [disabled]="newExperiencia.invalid"
          >
            Crear Experiencia laboral
          </button>
        </div>
      </form>
    </ng-container>
  </div>
</div>
