<header class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><span id="menunom" style="font-size: 28px">{{resultado.full_name}}</span></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="iconos" class="navbar-nav flex-row flex-wrap ms-md-auto me-3">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              [href]="resultado.github_url"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa-brands fa-github fa-lg"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="https://www.linkedin.com/in/sebastian-santos-52144117/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa-brands fa-linkedin fa-lg"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              ><i
                class="fa-solid fa-address-card fa-lg"
                (click)="modalService.toogleModalContacto()"
              ></i
            ></a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a routerLink="perfil"
            class="nav-link active" 
            aria-current="page" 
            
              >
            <i class="fa-solid fa-user fa-lg"></i>
            </a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link active" aria-current="page" href="#"
              ><i
                class="fa-solid fa-right-to-bracket fa-lg"
                (click)="modalService.toogleModalLogin()"
              ></i
            ></a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link active" aria-current="page" href="#">
              <i
                class="fa-solid fa-right-from-bracket fa-lg"
                (click)="logout()"
              ></i
            ></a>
          </li>
        </ul>

        <button
          type="button"
          class="btn"
          style="background-color: var(--red); color: white"
          disabled
        >
          Descargar CV
        </button>
        
      </div>
    </div>
  </nav>
  <img
    class="img-responsive-header"
    src="./assets/images/imgHeader.png"
    alt="Cabecera"
  />
</header>
