
<div class="container-fluid"></div>
<div class="d-flex justify-content-center titulo">
  <span class="fondo">Experiencia Laboral</span>
</div>

<div class="container-fluid" *ngIf="resultado.experienciasLaborales">
  <div *ngFor="let experiencia of resultado.experienciasLaborales">
  <h3>Empresa: {{experiencia.empresa}}</h3>
  <p><strong> Desde: </strong> {{experiencia.desde | date:'dd/MM/yy' }} <strong>Hasta: </strong><ng-container *ngIf="experiencia.hasta; else elseTemplate">
    {{experiencia.hasta | date:'dd/MM/yy'}}
  </ng-container></p>
  <p>Cargo:{{experiencia.puesto}}</p>
  <p>Descripcion:{{experiencia.descripcion}}</p>



  <ng-template #elseTemplate>
    La actualidad
  </ng-template>
</div>
</div>




