.container {
    width: 90%; /* Full width */
    border-radius: 50px;
  }

  .skills {
    text-align: right; /* Right-align text */
    color: white; /* White text color */
    border: 1px solid white;
    border-radius: 30px;
    padding-right: 10px;
  }

  .html {
    text-shadow: 1px 1px 2px black;
    animation: animation-skill 2s forwards;
  }

  @keyframes animation-skill {
    from {
      width: 0%;
    }
    to {
      width: porcentajeCSS;
    }
  }