.estudio{
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    columns: 4;
    padding: 2rem 4rem;
    border-bottom: 1px dotted black;
}

.img-entidad{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-entidad img {
    width: 100px;
    height: 100px;
}

.img-titulo img{
    width: 300px;
    min-height: 100px;
  }

  .img-titulo{
    min-width: 300px;
  }
.titulo{
    margin: 20rem 0 10rem 0;;
}