<div class="container">
  <form   (ngSubmit)="guardarContacto()" autocomplete="off" [formGroup]="miFormulario">
    <div class="mb-3">
      <label for="nombre_completo" class="form-label">Nombre completo</label>
      <input
        type="text"
        class="form-control"
        formControlName="nombre_completo"
        placeholder="Nombre y apellido"
      />
      <span
        *ngIf="
          miFormulario.controls['nombre_completo'].errors &&
          miFormulario.controls['nombre_completo'].touched
        "
        >Tiene que contener mas de 5 caracteres</span
      >
    </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="E-mail Address"
      />
      <span
        *ngIf="
          miFormulario.controls['email'].errors &&
          miFormulario.controls['email'].touched
        "
        >Tiene que ser un email válido.</span
      >
    </div>
    <div class="mb-3">
      <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea
          class="form-control"
          placeholder="Mensaje"
          rows="3"
          formControlName="mensaje"
        ></textarea>
        <span
          *ngIf="
            miFormulario.controls['mensaje'].errors &&
            miFormulario.controls['mensaje'].touched
          "
          >El mensaje tiene que ser de más de 10 caracteres</span
        >
      </div>
    </div>

    <button
    
      type="submit"
      class="btn btn-primary"
      [disabled]="miFormulario.invalid"
    >
      Enviar
    </button>
  </form>
</div>
