<div class="title-TS"><span class="main-title fondo"> Tecnologias / Skills</span></div>


<div class="tecnologias-skills">
  <div class="tecnologias">

    <ul>
      <li *ngFor="let tecnologia of resultado.tecnologias">
        <div class="tecnologia-icon">
          <img [src]="tecnologia.svg_url" [alt]="tecnologia.nombre_tecnologia" srcset="" />
        </div>
        <div class="tecnologia-nombre">
          {{ tecnologia.nombre_tecnologia }}
        </div>
      </li>
    </ul>
  </div>
  <div class="skills">
  
    <ul class="container">
        <li *ngFor="let tecnologia of resultado.tecnologias">
            <span>{{ tecnologia.nombre_tecnologia }}</span>
            <app-barra 
            [tecnoColors] = tecnologia.color
            [porcentaje] = tecnologia.porcentaje
            >
        </app-barra>

        </li>
    </ul>
</div>
</div>
