.mensajes{
    min-width: 330px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.mensaje{
    padding: 10px;
    background: gainsboro;
    border-radius: 4px;
    margin: 10px;

    
}
footer{
    display: block;
    justify-content: flex-end;
}
h3 i{
    cursor: pointer;
}
h3 i:hover{
 color: var(--mid-blue);
 transition: color 0.3s ease-in-out;
}

.oculto{
    display: none;
}




