<div class="tecno-edit">

    <form
      (ngSubmit)="editarTecnologia(this.tecnologia.id_tecnologia)"
      [formGroup]="tecnologiaSkillGroup"
    >
      <div class="mb-3">
        <label for="nombre_tecnologia" class="form-label"
          >Nombre de la tecnologia:</label
        >
        <input
          type="text"
          class="form-control"
          id="nombre_tecnologia"
          formControlName="nombre_tecnologia"
          [value]="tecnologia.nombre_tecnologia"
        />
      </div>
      <div class="mb-3">
        <label for="svg_url" class="form-label">Url svg:</label>
        <input
          type="text"
          class="form-control"
          id="svg_url"
          formControlName="svg_url"
          [value]="tecnologia.svg_url"
        />
      </div>
      <div class="mb-3">
        <label for="color" class="form-label">Color:</label>
        <input
          type="color"
          class="form-control"
          id="color"
          formControlName="color"
          [value]="tecnologia.color"
        />
      </div>

      <div class="mb-3">
        <label for="porcentaje" class="form-label">Porcentaje:</label>
        <input
          type="number"
          min="0"
          max="100"
          class="form-control"
          id="porcentaje"
          formControlName="porcentaje"
          [value]="tecnologia.porcentaje"
        />
      </div>
      <div class="footer-card mt-3">
        <button
          type="submit"
          class="btn"
          [disabled] = "tecnologiaSkillGroup.invalid"
          style="background-color: var(--light-green); color: white"
        >
          Editar
        </button>
        <button
          class="btn"
          style="background-color: var(--red); color: white"
          (click)="eliminarTecnologia(tecnologia.id_tecnologia)"
        >
          Eliminar
        </button>
      </div>
    </form>
  </div>

