<div class="editable">
  <div class="extend">
  <span (click)="toogleEditar()"
    >Tecnologias/Skills__
    <i class="fa-solid fa-pen"></i>
  </span>
  <button
  class="btn"
  style="background-color: var(--light-green); color: white"
  (click)="agregarTecnologia()"
>
  Agregar Tecnolologia y Skills
</button>
</div>


  <div class="container" *ngIf="editar" >
    <div *ngFor="let tecnologia of resultado.tecnologias" class="tecno">
      <div class="preview" (target)="tecnologia.id_tecnologia">
        {{ tecnologia.id_tecnologia }} - {{ tecnologia.nombre_tecnologia }}
      </div>
      <app-tecnologia-skills-form [tecnologia]="tecnologia"></app-tecnologia-skills-form>
    </div>
  </div>


<div class="container" *ngIf="nuevaTecnologia">
  <form
      
      [formGroup]="newTecnologiaSkillGroup"
      (ngSubmit)="newTecnoSkill()"
    >
      <div class="mb-3">
        <label for="nombre_tecnologia" class="form-label"
          >Nombre de la tecnologia:</label
        >
        <input
          type="text"
          class="form-control"
          id="nombre_tecnologia"
          formControlName="nombre_tecnologia"
          value=""
        />
      </div>
      <div class="mb-3">
        <label for="svg_url" class="form-label">Url svg:</label>
        <input
          type="text"
          class="form-control"
          id="svg_url"
          formControlName="svg_url"
          value=""
        />
      </div>
      <div class="mb-3">
        <label for="color" class="form-label">Color:</label>
        <input
          type="color"
          class="form-control"
          id="color"
          formControlName="color"
          value=""
        />
      </div>

      <div class="mb-3">
        <label for="porcentaje" class="form-label">Porcentaje:</label>
        <input
          type="number"
          min="0"
          max="100"
          class="form-control"
          id="porcentaje"
          formControlName="porcentaje"
          value=""
        />
      </div>
      <div class="footer-card mt-3">
        <button
          type="submit"
          class="btn"
          [disabled]= "newTecnologiaSkillGroup.invalid"
          style="background-color: var(--light-green); color: white"
        >
         Crear
        </button>
  
      </div>
    </form>
  </div>
</div>

