<div class="main-title fondo mx-auto d-block mt-5">Projectos</div>
<div class="project-area " *ngIf="resultado.proyectos">


  <div class="main-projects" *ngFor="let proyecto of resultado.proyectos">
    <div class="project-container">
      <div class="project-image">
        <img [src]="proyecto.imgURL_proyecto" alt="" srcset="" />
      </div>
      <div class="project-title">{{ proyecto.titulo_proyecto }}</div>
      <div class="project-description">{{ proyecto.descripcion_proyecto }}</div>
      <div class="tecnologia-container">
        <div
          class="project-tecnology"
          *ngFor="let tecnologia of proyecto.tecnologias"
        >
          <img
            [src]="tecnologia.svg_url"
            [alt]="tecnologia.nombre_tecnologia"
          />
        </div>
      </div>

      <div class="project-deploy">
        <div *ngIf="proyecto.github_proyecto">
          <a
            [href]="proyecto.github_proyecto"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa-brands fa-github fa-xl"></i
          ></a>
        </div>
        <div *ngIf="proyecto.url_proyecto">
          <a
            [href]="proyecto.url_proyecto"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa-solid fa-globe fa-xl"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
